__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/
.eggs/
*.egg
*.whl
htmlcov/
.coverage
.coverage.*
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.ipynb_checkpoints/
.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/
__pypackages__/
*.log
docker-compose.override.yml
docker-compose.override.yaml
postgres_data/
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject/
*.manifest
*.spec
*.so
*.pyo
*.pyd
*.dll
.ruff_cache/
.cursorignore
.cursorindexingignore
marimo/_static/
marimo/_lsp/
__marimo__/
Thumbs.db
desktop.ini
