fastapi
uvicorn[standard]
SQLAlchemy>=2.0
asyncpg
alembic
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
Jinja2
python-multipart
pydantic
pydantic-settings
pytest
httpx
pytest-asyncio
pydantic[email]
email-validator
black
isort
